<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="nav-item" rouerLinkActive = "active" rouerLinkActiveOptions = "{exact:true}"><a class="nav-link" routerLink = "/">Servers</a></li>
                <li class="nav-item" rouerLinkActive = "active"><a class="nav-link" routerLink = "/employees">Employees</a></li>
                <li class="nav-item" rouerLinkActive = "active"><a class="nav-link" routerLink = "/students">Students</a></li>
                <li class="nav-item" rouerLinkActive = "active"><a class="nav-link" routerLink = "/corona-report">Corona Report</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
